/** Mark as Read **/
.over18 .burro-mark-as-read,
.burro-mark-as-read {
    border: 0;
    background-color: transparent;
    color: #b3b3b3;
    margin: 0;
    margin-right: 4px;
    padding: 0 3px 0 0
}

.burro-mark-as-read:hover {
    color: #666;
}

/** Visual Style **/
.burro-style .thing .title {
    color: #555 !important;
}

.burro-style .thing .title:visited,
.burro-style .thing.visited .title {
    color: #aaa !important;
}

/** Fixed Header **/
.burro-fixed-header #header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

body.burro-fixed-header {
    padding-top: 63px;
}

/** View All Images **/
.burro-thumbnail {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.burro-image {
    border: 4px solid #ddd;
}
